[
  {
    "type": "int",
    "Type": "Int"
  },
  {
    "type": "boolean",
    "Type": "Boolean"
  }
]
====================================================================================================
package template.graph.weighted;

import template.graph.basic.DirectedGraphInterface;

public interface %Type%EdgeWeightedDirectedGraphInterface extends %Type%EdgeWeighted, DirectedGraphInterface {}
