[
  {
    "type": "int",
    "Type": "Int"
  },
  {
    "type": "boolean",
    "Type": "Boolean"
  }
]
====================================================================================================
package template.graph.weighted;

import template.graph.tree.TreeInterface;

public interface %Type%EdgeWeightedTreeInterface extends %Type%EdgeWeighted, TreeInterface {}
