[
  {
    "type": "int",
    "Type": "Int"
  },
  {
    "type": "boolean",
    "Type": "Boolean"
  }
]
====================================================================================================
package template.graph.weighted;

public class %Type%EdgeWeightedTree
    extends Abstract%Type%EdgeWeightedBidirectionalGraph
    implements %Type%EdgeWeightedTreeInterface {

  public %Type%EdgeWeightedTree(int vertexCapacity) {
    super(vertexCapacity, vertexCapacity - 1);
  }
}
