[
  {
    "type": "int",
    "Type": "Int"
  },
  {
    "type": "boolean",
    "Type": "Boolean"
  }
]
====================================================================================================
package template.graph.weighted;

import template.graph.basic.BidirectionalGraphInterface;

public interface %Type%EdgeWeightedBidirectionalGraphInterface extends %Type%EdgeWeighted, BidirectionalGraphInterface {}
