[
  {
    "filename": "IntArrayQueue",
    "type": "int",
    "Type": "Int"
  },
  {
    "filename": "LongArrayQueue",
    "type": "long",
    "Type": "Long"
  }
]
====================================================================================================
package template.collections.queue;

import template.collections.%Type%Collection;

public class %Type%ArrayQueue implements %Type%Collection {

  protected %type%[] data;
  protected int open, close;

  public %Type%ArrayQueue(int capacity) {
    data = new %type%[Integer.highestOneBit(capacity) << 1];
  }

  @Override
  public void clear() {
    open = close = 0;
  }

  @Override
  public int size() {
    return (close - open) & (data.length - 1);
  }

  @Override
  public void add(%type% v) {
    ensureCapacity(size() + 1);
    data[close++] = v;
    close &= data.length - 1;
  }

  public %type% peek() {
    assert(open != close);
    return data[open];
  }

  public %type% poll() {
    assert(open != close);
    %type% res = data[open];
    open = (open + 1) & (data.length - 1);
    return res;
  }

  protected void ensureCapacity(int capacity) {
    if (capacity < data.length) return;
    %type%[] newData = new %type%[Integer.highestOneBit(capacity) << 1];
    for (int i = 0, j = open; j != close; i++, j = (j + 1) & (data.length - 1)) {
      newData[i] = data[j];
    }
    close = size();
    open = 0;
    data = newData;
  }
}
