[
  {
    "filename": "CharArrayQueue",
    "type": "char",
    "Type": "Char"
  },
  {
    "filename": "IntArrayQueue",
    "type": "int",
    "Type": "Int"
  },
  {
    "filename": "LongArrayQueue",
    "type": "long",
    "Type": "Long"
  }
]
====================================================================================================
package template.collections.queue;

import template.collections.%Type%Collection;

public class %Type%ArrayQueue implements %Type%Collection {

  private static %type%[] EMPTY = {};

  protected %type%[] values;
  protected int open, close;

  public %Type%ArrayQueue() {
    values = EMPTY;
    clear();
  }

  public %Type%ArrayQueue(int capacity) {
    values = new %type%[Integer.highestOneBit(capacity) << 1];
    clear();
  }

  @Override
  public void clear() {
    open = close = 0;
  }

  @Override
  public int size() {
    return (close - open) & (values.length - 1);
  }

  @Override
  public void add(%type% value) {
    ensureCapacity(size() + 1);
    values[close++] = value;
    close &= values.length - 1;
  }

  public %type% peek() {
    if (open == close) throw new ArrayIndexOutOfBoundsException();
    return values[open];
  }

  public %type% poll() {
    if (open == close) throw new ArrayIndexOutOfBoundsException();
    %type% res = values[open];
    open = (open + 1) & (values.length - 1);
    return res;
  }

  @Override
  public String toString() {
    StringBuilder sb = new StringBuilder("[");
    for (int i = open; i != close; i = (i + 1) & (values.length - 1)) {
      if (i != open) sb.append(',').append(' ');
      sb.append(values[i]);
    }
    return sb.append(']').toString();
  }

  protected void ensureCapacity(int capacity) {
    if (capacity < values.length) return;
    %type%[] newValues = new %type%[Integer.highestOneBit(capacity) << 1];
    for (int i = 0, j = open; j != close; ++i, j = (j + 1) & (values.length - 1)) {
      newValues[i] = values[j];
    }
    close = size();
    open = 0;
    values = newValues;
  }
}
