[
  {
    "Type": "Char",
    "type": "char"
  },
  {
    "Type": "Int",
    "type": "int"
  },
  {
    "Type": "Long",
    "type": "long"
  }
]
====================================================================================================
package template.comparators;

public interface %Type%Comparator {

  int compare(%type% o1, %type% o2);
}
